*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

img{
    
    min-height: 40px;
    max-height: 40px;
   
}

.list ul{
    
    display: flex;
    justify-content: center;
    gap: 34px;
 
    
}
.list ul li{
    
    list-style: none;
    color: rgb(8, 8, 8);
    align-items: end;
    

}
