body{
    background-color:cadetblue;
    margin: 10px;
    padding: 10px;

}
video{
    width: 300px;
    height: 200px;
}
audio{
    width: 300px;
    height: 50px;
}
.container{
    background-color: white;
    border : 2px solid black;
    border-radius: 5px;
    width: 100%;
    height: 100% ;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    justify-content: center;

    
}


.form-box{
    background-color: rgb(248, 3, 3);
    border: 2px solid black;
    padding: 30px;
    margin: 30px;

}

.form-box label,input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px solid black; 
}
table,td,th{
    border : 1px solid black;

}
iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

