

    :root {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .element {
        border: 2px solid gray;
        height: 600px;
        width: 400px;
        display: block;
        margin: auto;
        border-radius: 20px;

    }

    .photo img {
        padding: 5px;
        display: block;
        margin: auto;
        width: 380px;
        height: 250px;
        border-radius: 20px;
    }

    span {
        background-color: white;
        display: inline-block;
        color: gray;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 15px;
        margin-top: 10px;
        margin-left: 15px;
        width: 60px;
        text-align: center;
        cursor: pointer;
    }


    h1 {
        display: block;
        margin-left: 15px;
    }

    p {
        margin: 25px;
        text-align: justify;
    }

    #readmore {
        background-color: gray;
        color: white;
        display: block;
        margin: auto;
        width: 100px;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bolder;
    }

    #readmore:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
    }
