*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

body{
 
    background-color: lightseagreen;
   
}
.container{
    padding: 20px;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border: 5px solid ;
    border-radius: 20px;
}

.box1{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;   


}


.box2{
    
    min-height: 100%;
    max-width: 100%;


}

input, select ,textarea{
    width: 100%;
    padding: 10px;
    margin : 10px;
    border-radius: 10px;
    display: flex;
    color: black;
    



    
}



button{
     padding: 10px;
     margin:10px;
     border: 1px solid darkblue;
     border-radius: 20px;
     min-height: 40px;
     max-width: 120px;
     cursor: pointer;
     background-color: rgb(0, 0, 14);
     color: aliceblue;
     border: none;
    
}
button:hover{
    background-color: aliceblue;
    color: black;
}

