*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{ 
   
    background-image: url("images12.jfif");
      font-family: "Baloo Bhai 2", sans-serif;
   
    
}
.socialmedia-card{
    height:900px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.profile-card{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    max-width: 400px;
    min-height: 600px;
    box-shadow: 8px 6px 20px 2px #1e8784db;;
}

.first-section{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section img{

    height: 30px;
    width: 30px;
}
.first-section img :hover{
    color: azure;

}

.second-section{
    
    max-width: 100%;
    min-height: 300px;
    margin : 10px;
    text-align: center;

}
.second-section  img{
    
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 50px;
}
.second-section > h1{
    letter-spacing: 10px;
    text-shadow: 8px 3px 12px black;
    
}
.info p{
    padding: 10px;
    margin: 5px;
}
h1::selection{
  background-color: orange;
  color: white;
}
p::selection{
  background-color: orange;
  color: white;
}
button{
    width: 150px;
    margin: 20px;
    padding: 20px;
    border :1px solid black;
    border-radius: 40px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;

}
button:hover{
    background-color: azure;
    color: black;
} 
button::after{
  content: " * ";
}
.third-section{
    max-width: 100%;
    min-height: 200px;
    padding: 30px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
}
.third-section img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow:18px 7px 10px 0px #1e8784db;
    


    
}

.profile-card1{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(231, 236, 238);
    max-width: 400px;
    min-height: 600px;
    box-shadow:  8px 6px 20px 2px #1e8784db;
}
.first-section1{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section1 img{

    height: 30px;
    width: 30px;
}
.first-section1 img :hover{
    color: azure;

}

.second-section1{
    
    max-width: 100%;
    min-height: 300px;
    margin : 10px;
    text-align: center;
}
.second-section1 > h1{
    letter-spacing: 10px;
    text-shadow: 8px 3px 12px black;
   
}


.second-section1  img{
    
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 50px;
}
.info1 p{
    padding: 10px;
    margin: 5px;
}
.third-section1{
    max-width: 100%;
    min-height: 200px;
    padding: 30px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
}
.third-section1 img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 18px 7px 10px 0px #1e8784db;


    
}
@media screen and (max-width: 480px) {
    .socialmedia-card {
        flex-direction: column;
        align-items: center;
    }






