@media only screen and (max-width: 991px) {
    .experience-heading{
        font-size: 40px;
    }
    .experience-para{
   line-height: 1.3;
  }
.communtiy-primary-heading{
  padding-inline: 200px;
}
       
    


}

@media only screen and (max-width: 768px) {
    .experience-contant {
       
        flex-direction: column-reverse;
    }
    .logo-showcase-wrapper{
        justify-content: center;
    }
  .communtiy-primary-heading{
  padding-inline: 100px;
}



}
@media only screen and (max-width: 479px) {
  .experience-heading{
        font-size: 25px;
    }

     .communtiy-primary-heading{
  padding-inline: 50px;
}



}