@media only screen and (max-width: 991px) {

    .first-section{
   
      min-height: 520px;
    }
 

    .experience-heading{
        font-size: 40px;
    }
    .experience-para{
   line-height: 1.3;
  }

.logocase-section{
  justify-content: center;
  column-gap:100px;
}       
    
  .review-wrapper{
  gap: 100px;
  }
.collection-wrapper{

  column-gap: 10px;

}
 .collection-icon {
   
    justify-content: center;
    gap: 10px;
   
}
.rigth-side-icon{
 
  justify-content: center;
  row-gap: 10px;

}
.collection-img {
    width: 400px;
   
}

}

@media only screen and (max-width: 768px) {
    .experience-contant {
       
        flex-direction: column-reverse;
    }
  .logocase-section{
  justify-content: center;
  column-gap:100px;
}
 .community-box {
    column-gap: 10px;
  
}
.box-model{
  max-width: 400px;
  
 
}
 h3{
  font-size: 20px;
 }
.data-wrapper{
  flex-direction: column;
}
.data-left-side{
    padding-block: 50px;
}
 .review-wrapper{
  flex-direction: column;
  gap:10px
  }
  .review-left{
    margin-top: 30px;
  }

  .collection-wrapper{
    flex-direction: column;
  }
  .collection-icon {
   
    justify-content: center;
    gap: 32px;
}
.collection-img {
    width: 400px;
    margin-top: 20px;
   
}
}
@media only screen and (max-width: 479px) {
  .experience-heading{
        font-size: 25px;
    }

 
  .logocase-section{
  justify-content: center;
  column-gap:100px;
}
 .community-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:12px;
  
}
.box-model{
  max-width: 400px;
  
 
}
.data-heading{
  font-size: 26px;
}
 .collection-icon {
   
    justify-content: center;
    gap: 10px;
}
.rigth-side-icon{
 
  justify-content: center;
  row-gap: 10px;

}
.collection-img {
    width: 300px;
   
}
.collection-right{
  margin-block: 0;
}
}


/* ----------------------blog-section--------------------- */