@media only screen and (max-width: 991px) {

    .hero-section{
   
      min-height: 520px;
    }
 

    .hero-heading{
        font-size: 40px;
    }
    .hero-para{
   line-height: 1.3;
  }

.logocase-section{
  justify-content: center;
  column-gap:100px;
}       
    

.collection-wrapper{

  column-gap: 10px;

}
 .collection-icon {
   
    justify-content: center;
    gap: 10px;
   
}

.collection-img {
    width: 400px;
   
}
.blog-bottom-side{

  row-gap: 100px;

  
}


}

@media only screen and (max-width: 768px) {
    .hero-contant {
       
        flex-direction: column-reverse;
    }
  .logocase-section{
  justify-content: center;
  column-gap:100px;
}
 .community-box {
    row-gap: 20px;
    justify-content: center;
  
}
.box-model{
  max-width: 400px;
  
 
}
 h3{
  font-size: 20px;
 }
.cta-wrapper{
  flex-direction: column;
}
.cta-left-side{
    padding-block: 30px;
}
 .review-wrapper{
  flex-direction: column;
  
  }
  .review-left{
    margin-top: 30px;
  }

  .collection-wrapper{
    flex-direction: column;
  }
  .collection-icon {
   
    justify-content: center;
    gap: 32px;
}
.collection-img {
    width: 360px;
  
}
.blog-bottom-side{

  column-gap: 20px;

  
}

.footer-contant {
 
    flex-wrap: wrap;

    
}
.h1{
  font-size: 56px;
}

}
@media only screen and (max-width: 479px) {
  .hero-heading{
        font-size: 25px;
    }

 
  .logocase-section{
  justify-content: center;
  column-gap:100px;
}
 .community-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:12px;
  
}
.box-model{
  max-width: 360px;
  
 
}
.cta-heading{
  font-size: 26px;
}
 .collection-icon {
   
    justify-content: center;
    gap: 10px;
}
.rigth-side-icon{
 
  justify-content: center;
  row-gap: 10px;

}
.collection-img {
    width: 300px;
   
}
.collection-right{
  margin-block: 0;
}
.h1{
  font-size: 40px;
}
}


/* ----------------------blog-section--------------------- */