* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-color: white;
  --primary-color: #F5F7FA;

  --secondary-color:#4CAF4F;
  --third-color: #2632383;
  --fourth-color:#717171; 
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  background-color: var(--main-color);
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.2;
}
h1{
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
}
h2{
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
}
h3{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}
.header-container{
  max-width:1255px;
}

.section-container{
 max-width:1192px;
}

.footer-container{
  max-width: 1150px;
}


img {
  max-width: 100%;
  display: block;
}

.img-contain{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
}
.btn:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}
a{
  text-decoration: none;
  text-align: center;
  display: block;
}
/* --------------------------------header-------------------------------- */

.header {
  top: 0;
  min-height:84px;
  width: 100%;
  position: sticky;
  z-index: 999;
  background-color: var(--primary-color);
  
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
  padding-block: 30px;
   max-width: 154px;
   min-height: 24px;

}

.nav-links ul{
  padding-inline: 30px;
  display: flex;
  gap: 32px;
  list-style:none;
}

.nav-links ul li a{
  text-decoration: none;
  color:#18191F;
  transition: all 0.3s ease-in-out;

}
.nav-links ul li a:hover{
  color: var(--secondary-color);
}

.btn{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
}

.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block:22px;
  gap: 14px;
  width: 182px;
  height: 40px;
  text-decoration: none;
}
.login-link{
  text-decoration: none;
  max-width:91px;
  min-height: 40px;
  font-size: 14px;
  padding: 10px 20px;
  color:var(--secondary-color);
}
.login-link:hover{
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.sign-up{
  max-width: 91px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
}

/* 
-----------------------------first-section-------------------------------- */

.first-section{
  width: 100%;
  min-height: 600px;
  background-color: var(--primary-color);
  margin-bottom: 40px;
}
.experience-contant{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-block: 60px;
  
}
.experience-contant-left{
  max-width: 658px;
  margin-bottom:16px
}

.experience-heading{
  font-weight: 600;
  color: #18191F;
  margin-bottom: 16px;
}

.experience-heading-1{
  color: var(--secondary-color);
 
}
.experience-para{
   line-height: .6;
   font-weight: 400;
   color: var(--fourth-color);
   margin-bottom: 32px;

}
.experience-btn{
  padding: 14px 32px;
  max-width: 128px;
  min-height: 52px;

}




.experience-contant-right{
  max-width: 392px;
  min-height: 408px;
}
 
/*------------------------------------ clients-section------------------------ */
.clients-section{
  padding-top:40px;
  background-color: var(--main-color);
}
.clients-section-container{
text-align: center;

}
.clients{
  margin-bottom: 8px;
}
.clients-para{
  color:var(--fourth-color);
  margin-bottom: 16px;
  font-weight: 500;
}


.logo-showcase-wrapper{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;

  

}

.logo-showcase-icon{

  width: 48px;
  aspect-ratio: 1;


}


/* ----------------community-section--------------------- */

.communtiy-section{

  padding-top: 40px;

}
.communtiy-primary-heading{
  padding-inline: 220px;
  width: 100%;
  margin-bottom: 10px;
  

}

.communtiy-heading{

  text-align: center;
  margin-bottom: 20px;
  
}
.box-model-heading{
  height: 88px;
}

.community-box{
  display: flex;
  gap:35px;
  padding-inline: 60px;
  
}
.box-model{

  display:flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 32px;
  padding-block: 24px;
  width: 300px;
  height: 260px;
  border: 1px solid white;
  box-shadow: 1px 1px 4px 0px rgb(207, 204, 204);
  text-align: center;
}
.box-model-wrapper{
  width: 65px;
  height: 56px;
}
.communtiy-para{
  color:var(--fourth-color);
}

.box-model-para{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--third-color);
}






