*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.navbar{
    background-color: rgb(6, 234, 154);
    color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;



}


.list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;



}
.list ul li a{
    text-decoration: none;
    color: rgb(26, 25, 25);
    font-size: 18px;
    padding: 8px 12px;
   


   
    
}