*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#8fb2da,#29489a);
}

.container{
    padding: 20px;
    margin: 20px;
    min-height: fit-content;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.box1{
    padding: 10px;
    text-align: center;

}
.box1 h1{
    font-size: 45px;
    text-transform: uppercase;   
    
}
.box1 p{
    text-transform: uppercase;
    font-size: 10px;
}
.box2{
    flex: grid;
    gap: 20px;
}
input, select , button ,textarea{
    padding: 10px;
    margin: 10px;
    border: 1px solid darkblue;
    border-radius: 10px;
    
}

