*{
    padding : 0px;
    margin :  0px;
    box-sizing: border-box;
}
body{
    background-color :#00ffc3;
}

.container{
    max-width: 100%;
    min-height: 50px;
    margin-inline: auto;
}


.navbar{
    background-color : rgb(1, 31, 24);
    max-width: 100%;
    min-height: 40px;
    display : flex;
    align-items :center;
    justify-content: space-between;

}
.logo{
    font-weight: bold;
    color: #00ffc3;
    margin: 10px;
    display : inline;

}

.nav-links{
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-links a{
    text-decoration: none;
    color: #00ffc3;
    font-size: 15px;
    padding-bottom: 8px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #b57a50;
}


img{
    
    max-width: 50%;
    min-height: 40px;
    object-fit:  contain;
    
   
}

.second-section{
    align-items : center;
    min-height : 250px;
    font-family :Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical center */   /* Horizontal center */
    text-align: center;


}


.second-section a{
    color: #001511;
    border : 2px solid black;
    border-radius :20px;
    text-decoration: none;
    padding : 10px;
    margin : 20px;
    
}


.box{
    
    min-height: 200px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divbox{
    background-color: black;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 40px;
    min-height: 40px;
    align-content: center;
    text-align: center;
    color: white;
   }

.box .item1{
    align-self: end;
}

.box .item3{
    align-self: start;
}
.box .item5{
    align-self: end;
}

.box .item7{
    align-self: start;
}
.box .item9{
    align-self: end;
}

.box .item11{
    align-self: start;
}
.box .item13{
    align-self: end;
}
