* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #64d281;
  --white-100: #ffffff;
  --white-200: #fbf9f6;
  --white-300: #f2f2f2;
  --white-400: #f8f8f8;
  --white-500: #ebebeb;
  --black-100: #000000;
  --black-200: #060e2c;
  --black-300: #141414;
  --red-100: #fe0000;
  --green-100: #00ac8d;
  --green-200: #19a76d;
  --green-300: #65c09a;
  --yellow-100: #f2bc80;
  --yellow-200: #f4e193;
  --light-gray: #afafaf;
  --dark-gray: #707070;
  --blue-100: #89afd8;
  --purple-100: #8a8fc4;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  background-color: var(--white-100);
  color: var(--black-300);
  flex-direction: column;
  font-family: "Raleway", "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1308px;
  padding-inline: 20px;
  margin-inline: auto;
}

a {
  text-decoration: none;

  display: block;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
}

.img-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
li {
  list-style: none;
}
.btn {
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  max-width: max-content;
  border: 1px solid transparent;
  padding: 24px 30px;
  font-weight: 700;
}
.btnwhite {
  color: var(--white-100);
}
.btnblack {
  color: var(--black-300);
}
.btnblack:hover {
  color: var(--white-100);
}
.btn:hover {
  background-color: var(--black-300);

  border: 1px solid transparent;
}
h1 {
  font-size: 110px;
  font-weight: 700;
  line-height: 1;
}
h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}
h6 {
  font-weight: 700;
}
