@media only screen and (max-width: 1043px) {
  .nav-link-a {
    font-size: 12px;
  }
  .btn-primary {
    padding: 18px 20px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 54px;
  }
  .menu-btn {
    display: block;
  }

  .img-logo {
    transition: all 0.3s ease-in-out;
  }
  .img-logo.active {
    color: var(--black);
  }

  .nav-link-a {
    padding-inline: 10px;
    color: var(--black);
    font-size: 30px;
  }

  .right-side {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: 100%;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 148px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .header-nav-links {
    padding-left: 10px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }

  .right-side.active {
    opacity: 1;
    visibility: visible;
  }
  .header-btton {
    margin-left: 10px;
  }
  .sub-menu-link {
    font-weight: 400;
  }
  .header-nav-icon {
    color: var(--black);
    width: 18px;
    height: 18px;
  }

  .sub-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: static;
    transform: translateX(0);
  }

  .sub-menu.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .header-nav-icon.active {
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg);
  }
  .footer-titile-2 {
    margin-left: 20px;
  }
  .achieved-primary-title {
    font-size: 100px;
  }
  .working-content {
    gap: 12px;
  }
  .vacancies {
    font-size: 12px;
  }
  .academies-hero-primary-title {
    font-size: 75px;
  }
  .academies-hero-secnodary-title {
    font-size: 116px;
  }
}

@media only screen and (max-width: 768px) {
  .two-column-content {
    width: 100%;
    padding-left: 0;
  }
  .academy-content {
    margin-right: 0;
  }

  .academy-content {
    width: 100%;
  }
  .banner-title {
    font-size: 30px;
  }
  .two-column-img-content {
    min-height: auto;
    width: auto;
    margin-inline: -20px;
  }
  .two-column-img {
    width: 100%;
    position: static;
  }
  .two-column-wrapper {
    flex-direction: column-reverse;
    gap: 46px;
  }
  .two-column-section {
    padding-top: 70px;
  }
  .banner-section {
    padding-top: 70px;
  }

  .footer-infor1-title {
    font-size: 40px;
  }
  .span-title {
    font-size: 60px;
  }
  .footer-infor1-description {
    font-size: 16px;
  }
  .links {
    flex-direction: row;
    column-gap: 28px;
    margin-bottom: 12px;
  }
  .banner-content {
    width: auto;
    margin-inline: -20px;
    padding-inline: 20px;
  }
  .action-section {
    padding-bottom: 70px;
  }
  .achieved-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .trust-hero-section-title {
    font-size: 74px;
  }
  .trust-hero-span-title {
    font-size: 122px;
  }
  .achieved-primary-title {
    font-size: 88px;
  }

  .achieved-secondary-title {
    font-size: 24px;
  }
  .team-section {
    margin-left: 0;
    padding-top: 0;
  }
  .working-content {
    gap: 30px;
  }
  .vacancies {
    font-size: 14px;
  }
  .team-wrapper {
    flex-direction: column;
  }
  .academies-school-wrapper-title {
    font-size: 84px;
  }
  .academies-hero-primary-title {
    font-size: 54px;
  }
  .academies-hero-secnodary-title {
    font-size: 70px;
  }
  .academies-school-contents {
    grid-template-columns: repeat(2, 2fr);
  }
  .academies-school-contents {
    row-gap: 20px;
  }
  .school-team-section-img {
    width: 100%;
  }
  .academies-school-team-section {
    padding-right: 0;
    padding-block: 0;
  }
  .academies-school-team-section {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 429px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }
  .banner-title {
    font-size: 28px;
  }

  .email {
    max-width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-infor1-description {
    max-width: 100%;
  }
  .footer-icon {
    right: 3%;
  }
  .infor2-details {
    gap: 42px;
  }
  .team-primary {
    font-size: 76px;
  }
  .achieved-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .trust-hero-section-title {
    font-size: 56px;
  }
  .trust-hero-span-title {
    font-size: 90px;
  }
  .working-content {
    gap: 10px;
  }
  .vacancies {
    font-size: 12px;
  }
  .academies-hero-primary-title {
    font-size: 38px;
  }
  .academies-hero-secnodary-title {
    font-size: 52px;
  }
  .academies-school-contents {
    row-gap: 20px;
  }
  .academies-school-contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .academies-school-wrapper-title {
    font-size: 52px;
  }
  .academies-school-section {
    padding-bottom: 16px;
  }
}
