@media only screen and (max-width: 991px) {
  .menu-btn {
    display: block;
  }

  .img-logo {
    transition: all 0.3s ease-in-out;
  }
  .img-logo.active {
    color: var(--black-300);
  }

  .nav-link-a {
    padding: 10px;
    color: var(--black-300);
    font-size: 29px;
  }

  .right-side {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: 100%;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 148px;
    background-color: var(--white-100);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .header-nav-links {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .right-side.active {
    opacity: 1;
    visibility: visible;
  }
  .header-btton {
    margin-left: 10px;
  }
  .sub-menu-link {
    font-weight: 400;
  }
  .header-nav-icon {
    color: var(--black-300);
    width: 18px;
    height: 18px;
  }
  .sub-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .sub-menu.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  .header-nav-icon.active {
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg);
  }
  .footer-titile-2 {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .two-column-content {
    width: 100%;
    padding-left: 0;
  }
  .academy-content {
    margin-right: 0;
  }

  .academy-content {
    width: 100%;
  }
  .banner-title {
    font-size: 30px;
  }
  .two-column-img-content {
    min-height: auto;
    width: auto;
    margin-inline: -20px;
  }
  .two-column-img {
    width: 100%;
    position: static;
  }
  .two-column-wrapper {
    flex-direction: column-reverse;
    gap: 46px;
  }
  .two-column-section {
    padding-top: 70px;
  }
  .banner-section {
    padding-top: 70px;
  }

  .footer-infor1-title {
    font-size: 40px;
  }
  .span-title {
    font-size: 60px;
  }
  .footer-infor1-description {
    font-size: 16px;
  }
  .links {
    flex-direction: row;
    column-gap: 28px;
    margin-bottom: 12px;
  }
  .banner-content {
    width: auto;
    margin-inline: -20px;
    padding-inline: 20px;
  }
  .action-section {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 429px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 55px;
  }

  .email {
    max-width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-infor1-description {
    max-width: 100%;
  }
  .footer-icon {
    right: 3%;
  }
}
