header {
  width: 100%;

  padding-top: 58px;
  position: fixed;
  top: 0;
  z-index: 999;
   transition: all 0.3s ease-in-out;

}
header.active{
  background-color: var(--unnamed-color-ffffff);
 
}
.img-logo1 {
  max-width: 256px;
  min-height: 50px;
}
.header-btton{
  position: sticky;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-btn-wrapper {
  width: 36px;
}
.menu-btn,
.close-btn {
  display: none;
}

/* --------------------hero-section----------------*/
.hero-section {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.47) 50%),
    url(../imges/hero-section-img.png);
  
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
}
.hero-wrapper {
  padding-top: 224px;
  padding-bottom: 124px;
  max-width: 511px;
}
.hero-section-title {
  font-size: 110px;
  color: var(--unnamed-color-ffffff);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}
.hero-overlay{
  min-height: 50px;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 50%);

}

/* -----------------two-column-section--------------- */
.two-column-section{
  padding-top: 106px;
}
.two-column-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:92px;
}
.img-content{
  max-width: 787px;
  min-height: 610px;
  position: absolute;
  left:400px;
}
.two-column-content{
  padding-block: 143px 160px;
}
.title-primary{
  color: #14141478;
}
.title-secondary{
  font-size: 60px;
  font-weight: 700;
 
}
.title-secondary-1{
  font-weight: 400;
}
.two-column-para{
  font-size: 15px;
  font-weight: 300;
  color: #14141480;
  margin-bottom: 15px;
}








































/* ----------footer-section--------------- */
footer {
  margin-top: auto;
}

.footer-content {
  background-color: var(--unnamed-color-000000);
  color: var(--unnamed-color-ffffff);
  padding-block: 106px 92px;
}
.footer-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.details {
  display: flex;
  align-items: start;
  justify-content: start;

  column-gap: 24px;
}
.footer-infor1-title {
  font-size: 50px;
  font-weight: 400;
}
.details-title {
  font-weight: 300;
}
.span-title {
  font-size: 90px;
  line-height: 0.6;
  font-weight: 700;
}
.span-details-title {
  margin-top: 15px;
}
.footer-infor1-description {
  margin-block: 23px 13px;
  font-size: 21px;
  max-width: 334px;
  font-weight: 700;
}
form {
  position: relative;
}
.email {
  padding-block: 23px 21px;
  padding-left: 25px;
  width: 423px;
  border: 1px solid transparent;
  background-color: #f6f4f41f;
  position: relative;
}

.footer-icon {
  background-color: var(--unnamed-color-64d281);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  left: 396px;
  top: 5px;
}
.footer-btn {
  border: none;
  background: none;
}
.details-title {
  font-family: "Poppins";
}

.footer-infor2-title {
  margin-bottom: 25px;
}
.details2 {
  margin-block: 45px 54px;
}
.details3 {
  max-width: 340px;
}
#Path_1144 {
  flex-shrink: 0;
}
.infor3-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.infor3-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--unnamed-color-64d281);
}
.links {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 28px;
  margin-bottom: 85px;
}
.infor3-link {
  color: current-colorfff85;
}
.footer-logoshowcase {
  background-color: var(--unnamed-color-64d281);
  padding-block: 50px 38px;
}
.footer-logocase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-titile-2 {
  font-size: 30px;
  font-weight: 400;
  flex-shrink: 0;
}
.footer-section2-logoitem {
  display: flex;

  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  overflow-x: auto;
}
.footer-section2-logoitems {
  max-width: 130px;
}
