.header {
  width: 100%;
  padding-block: 26px;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
header.active {
  background-color: var(--white);
}
.nav-link-a {
  text-align: center;

  color: var(--white);
  font-weight: 800;
  position: relative;
}
.sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding-inline: 16px;
  transition: all 0.3s ease-in-out;
}

.header-nav-icon {
  color: var(--white);
  width: 10px;
  height: 10px;
}
.sub-nav {
  position: relative;
}
@media only screen and (min-width: 991px) {
  .sub-nav:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}
.sub-menu-link {
  width: 100%;
  padding-block: 10px;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
}

.img-logo {
  max-width: 256px;
  min-height: 50px;
  color: var(--white);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-btn-wrapper {
  width: 36px;
}

.menu-btn,
.close-btn {
  display: none;
}

/* --------------------hero-section----------------*/
.hero-section {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.47) 50%),
    url(../imges/hero-section-img.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-wrapper {
  padding-top: 224px;
  padding-bottom: 124px;
  max-width: 512px;
}
.hero-section-title {
  color: var(--white);
  margin-bottom: 16px;
}
.hero-overlay {
  min-height: 50px;
  background-color: var(--white);
  clip-path: polygon(100% 0, -10% 100%, 100% 100%);
}
/* ----------------trust-hero-section------------ */
.trust-hero-section {
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.16) 100%, rgba(0, 0, 0, 0.52) 50%),
    url(../imges/trust-hero-section-img.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.trust-hero-section-title {
  font-size: 82px;
  font-weight: 400;
  color: var(--white);
}
.trust-hero-span-title {
  font-size: 172px;
  font-weight: 700;
}
.trust-hero-para {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
}
.trust-hero-overlay {
  min-height: 50px;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, -10% 100%, 100% 100%);
}
/* ---------------academies-section-------- */
.academies-hero-section {
  background:
    linear-gradient(10deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.52) 50%),
    url(../imges/acton-crawford-z3kZ__Ycpc8-unsplash@2x.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.academies-primary-title {
  color: var(--white);
  font-size: 82px;
  font-weight: 400;
}
.academies-secnodary-title {
  font-size: 142px;
  font-weight: 700;
}
.academies-para {
  color: var(--white);
  font-weight: 700;
}
/* -----------------two-column-section--------------- */

.two-column-section {
  padding-top: 114px;
}
.two-column-section-wrapper {
  position: relative;
}
.two-column-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.two-column-img-content {
  min-height: 610px;
  width: calc(50% + 153px);
}
.two-column-img {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.two-column-content {
  width: 50%;
  padding-left: 30px;
  margin-left: auto;
}
.title-primary {
  color: #14141478;
  margin-bottom: 4px;
}

.title-secondary-1 {
  font-weight: 400;
}
.two-column-para {
  font-size: 15px;
  font-weight: 300;
  color: #14141480;
  margin-block: 14px 16px;
}
/* -------trust-two-column-section---------- */
.trust-two-column-img {
  min-height: 590px;
  width: calc(50% + 327px);
}
.trust-title-secondary {
  font-weight: 400;
}
/* ------------academy-section--------- */
.academy-section {
  padding-top: 134px;
}
.academy-wrapper {
  flex-direction: row-reverse;
}
.academy-img {
  position: absolute;
  left: auto;
  right: 0;
}

.academy-content {
  width: 50%;
  padding-right: 30px;
  margin-right: auto;
}
/* ----------------one-column-section-------------- */
.banner-section {
  padding-top: 134px;
}
.banner-content {
  padding-block: 124px;
  background: url("../imges/Rectangle 591.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white);
}
.banner-title {
  font-size: 40px;
  font-weight: 400;
  flex-shrink: 0;
}
.banner-btton {
  margin-bottom: 124px;
  justify-items: center;
}
/*----------------- action-section------------------------------------ */
.action-section {
  padding-block: 134px;
}
/* --------------------achieved-section -------------*/
.achieved-section {
  background-color: var(--primary-color);
  padding-block: 120px;
  color: var(--white);
}
.achieved-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 76px;
}
.achieved-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.achieved-primary-title {
  font-size: 110px;
}
.achieved-secondary-title {
  font-size: 28px;
}
/* -------------values-section----------- */
.values-section {
  padding-top: 20px;
}
/* ----------------------------values-section--------------- */
.academies-section {
  padding-top: 20px;
}

/* -----team-section--------------- */
.team-section {
  margin-block: 40px;
  padding-block: 40px;
  margin-left: 30px;
  background-color: var(--black);
}
.team-section-img {
  min-height: 382px;
  width: calc(50% + 40px);
}
.team-primary {
  color: var(--white);
}
/* ----------------WORKING-section-------------- */
.working-section {
  padding-bottom: 84px;
}
.working-content {
  display: flex;
  gap: 30px;
  align-items: center;
}
.vacancies {
  color: var(--black);
  font-weight: 700;
  text-decoration: underline;
}
/* ----------footer-section--------------- */
footer {
  margin-top: auto;
}

.footer-content {
  background-color: var(--black);
  color: var(--white);
  padding-block: 106px 92px;
}
.footer-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.infor2-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 54px;
}
.details {
  display: flex;

  align-items: start;
  column-gap: 24px;
  max-width: 340px;
}
.footer-infor1-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.66;
}
.details-title {
  font-weight: 300;
}
.span-title {
  font-size: 90px;
  line-height: 0.6;
  font-weight: 700;
}
.span-details-title {
  margin-top: 16px;
}
.footer-infor1-description {
  margin-block: 24px 14px;
  font-size: 22px;
  max-width: 334px;
  font-weight: 700;
}
form {
  position: relative;
}
.email {
  padding-block: 24px 22px;
  padding-left: 26px;
  max-width: 424px;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f6f4f41f;
  position: relative;
}

.footer-icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  right: -7%;
  top: 90%;
  transform: translatey(-50px);
}
input::placeholder {
  color: var(--white);
}
.footer-btn {
  border: none;
  background: none;
}
.details-title {
  font-family: "Poppins";
}

.footer-infor2-title {
  margin-bottom: 26px;
}

#Path_1144 {
  flex-shrink: 0;
}
.infor3-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.infor3-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
}
.links {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 28px;
  margin-bottom: 86px;
}
.infor3-link {
  color: #ffffff85;
}
.footer-logoshowcase {
  background-color: var(--primary-color);
  padding-block: 50px 38px;
}
.footer-logocase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-titile-2 {
  font-size: 30px;
  font-weight: 400;
  flex-shrink: 0;
}
.footer-section2-logoitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  overflow-x: auto;
}
.footer-section2-logoitems {
  max-width: 130px;
}
